<style>
    #sidemenu{
        width:20%;
    }
</style>
<div class="list-group" id="sidemenu">
  <a href="#" class="list-group-item disabled">
   Admin Access
  </a>
  <a href="/admin" class="list-group-item"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Dashboard</a>
  <a href="/admin/use" class="list-group-item"><i class="fa fa-users" aria-hidden="true"></i>
 Users</a>
  <a href="/admin/academics" class="list-group-item"><i class="fa fa-book" aria-hidden="true"></i>
 Academics</a>
  <a href="/admin/feedback" class="list-group-item"><i class="fa fa-question" aria-hidden="true"></i>
Feedback Questions</a> 
    <a href="/admin/stats" class="list-group-item"><i class="fa fa-pie-chart" aria-hidden="true"></i>
Stastics</a>
    <a href="#" class="list-group-item disabled">User Access</a>

    <a href="/admin/schedule" class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i>
Scheduled Classes</a> 
    <a href="/admin/classes" class="list-group-item"><i class="fa fa-video-camera" aria-hidden="true"></i>
 Classes</a>
  <a href="#" class="list-group-item"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      Academics</a>

</div>