<style>
    #sidemenu{
        width:20%;
    }

</style>
<div class="list-group" id="sidemenu">

<a href="#" class="list-group-item disabled">Navigation</a>

    <a href="/users" class="list-group-item"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Dashboard</a> 
    <a href="#" class="list-group-item disabled">User Access</a>

    <a href="/users/schedule" class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> Scheduled Classes</a>
  <a href="/users/classes" class="list-group-item"><i class="fa fa-headphones" aria-hidden="true"></i> Classes</a>
  <a href="/users/history" class="list-group-item"><i class="fa fa-history" aria-hidden="true"></i> History</a>

</div>