{{> aheader}}

<button type="button" class="btn btn-outline-primary"><a href="/admin">Admin</a></button>
<button type="button" class="btn btn-outline-primary"><a href="/users">Users</a></button>

{{> footer}}